{% extends "layout/base.html" %}


{% block extra_head %}
<style>
    #nama{
        width: 300px;
    }
    #search-nama{
        display: none;
    }
</style>
{% endblock extra_head %}

{% block content %}
{{ pemilih }}
<form action="{% url 'home' %}" enctype="multipart/form-data" method="post" id="form-nik">
    {% csrf_token %}
    {# <input type="text" name="nik" placeholder="Ketikkan NIK Anda"> #}
    {# <input type="file" name="ktp"> #}
    <select name="kabkota" id="kabkota" data-title="-- Pilih Kota --" data-loading="-- Loading --" data-empty="">
        <option value="">-- Pilih Kota --</option>
    {% for item in kabkota %}
        <option value="{{ item.id }}">{{ item.namaKabKota }}</option>
    {% endfor %}
    </select>
    <select name="kecamatan" id="kecamatan" data-title="-- Pilih Kecamatan --" data-loading="-- Loading --" data-empty="" data-field-title="namaKecamatan">
        <option value=""></option>
    </select>
    <select name="kelurahan" id="kelurahan" data-title="-- Pilih Kelurahan --" data-loading="-- Loading --" data-empty="" data-field-title="namaKelurahan">
        <option value=""></option>
    </select>
    <div id="search-nama">
        <input type="text" id="nama" name="nama" placeholder="Ketikkan Nama Lengkap Sesuai KTP Anda">
        <input type="submit">
    </div>
</form>
<div id="result" data-loading="Sedang mencari...">

</div>
{% endblock content %}


{% block extra_foot %}
<script src="{{ STATIC_URL }}js/cookie.js"></script>
<script>
    var reset_select = function(selector){
        $(selector).each(function(idx, val){
           $(val).find('option').remove();
           $(val).append('<option value="">' + $(selector).data('empty') + '</option>');
        });
    }
    var load_data = function(selector, data){
        $(data).each(function(idx, item){
            $(selector).append('<option value="'+ item.pk +'">' + item.fields[$(selector).data('field-title')] + '</option>');
        });
        $(selector).find('option:first').text($(selector).data('title'));
    }
    var reset_result_container = function(){
        $('#result').children().remove();
        $('#result').append('<h4>'+ $('#result').data('loading') +'</h4>')
    }
    var load_result = function(data){
        console.log(data);
        $('#result').children().remove();
        if(data.hasOwnProperty('fields')){
            $('#result').append('<h4>Hi '+ $('#nama').val().toUpperCase() +', Kamu Nyoblos di TPS No: '+ data.fields.no +'</h4>')
        }else{
            $('#result').append('<h4>Mohon Maaf, Nama Anda Tidak Ditemukan.</h4>')
        }
    }

    var csrftoken = Cookies.get('csrftoken');
    var csrfSafeMethod = function(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $(document).ready(function(){
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $('#kabkota').change(function(){
            var id_kabkota = $(this).find('option:selected').val();
            reset_select('#kecamatan, #kelurahan');

            if(!id_kabkota)
                return;

            $('#kecamatan option:first').text($('#kecamatan').data('loading'));
            $.ajax({
                type: "POST",
                data:{
                    'id_kabkota': id_kabkota
                },
                dataType: "json",
                url: "{% url 'get_kecamatan' %}",
                success: function(data){
                    load_data('#kecamatan', data)
                },
                error: function(xhr, status, msg){
                    console.log(status);
                    console.log(msg);
                }
            });
        });

        $('#kecamatan').change(function(){
            var id_kecamatan = $(this).find('option:selected').val();
            reset_select('#kelurahan');

            if(!id_kecamatan)
                return;

            $('#kelurahan option:first').text($('#kelurahan').data('loading'));
            $.ajax({
                type: "POST",
                dataType: "json",
                data:{
                    'id_kecamatan': id_kecamatan
                },
                dataType: "json",
                url: "{% url 'get_kelurahan' %}",
                success: function(data){
                    load_data('#kelurahan', data, 'namaKelurahan')
                },
                error: function(xhr, status, msg){
                    console.log(status);
                    console.log(msg);
                }
            });
        });

        $('#kelurahan').change(function(){
            var id_kelurahan = $(this).find('option:selected').val();

            if(!id_kelurahan){
                $('#search-nama:visible').hide();
                return;
            }

            $('#search-nama').show();
        });

        $('#nama').change(function(){
            $('#result').children().remove();
        });

        $('#form-nik').submit(function(e){
            e.preventDefault();

            var nama = $('#nama').val().trim();
            var id_kelurahan = $('#kelurahan').find('option:selected').val();

            if(nama.length == 0){
                $('#result').children().remove();
                $('#result').append('<h4>Anda belum mengetikkan nama!</h4>');
                return false;
            }

            reset_result_container();

            $.ajax({
                type: "POST",
                dataType: "json",
                data:{
                    'id_kelurahan': id_kelurahan,
                    'nama': nama,
                },
                dataType: "json",
                url: "{% url 'get_tps' %}",
                success: function(data){
                    load_result(data)
                },
                error: function(xhr, status, msg){
                    console.log(status);
                    console.log(msg);
                }
            });

            return false;
        });

    });
</script>
{% endblock extra_foot %}
