{% if messages %}
<div class="messages">
    {% for m in messages  %}
    <div class="alert alert-{{ m.level_tag }}" role='alert'>
        {{ m.message }}
    </div>
    {% endfor %}
</div>
{% endif %}
