<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
{% include "partial/messages.html" %}

{% block content %}{% endblock content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% block extra_foot %}{% endblock extra_foot %}
</body>
</html>